.game-wrapper {
  --bg-red: #f9a27e;
  --bg-blue: #6eb8d8;
  --bg-initial: #bf97ef;
}

.game-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  transition: all 0.5s linear;
  width: 100%;
}

.game-wrapper.initial {
  background-color: var(--bg-initial);
}

.game-wrapper.blue {
  background-color: var(--bg-blue);
}

.game-wrapper.red {
  background-color: var(--bg-red);
}

.game-wrapper-disable {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
