.game-turn-opponent {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 80px;
  width: 100%;
}

.game-turn-opponent-label {
  animation: fadeIn 500ms ease-in-out forwards;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 25px;
  font-weight: bold;
  padding: 5px 20px;
}

.game-turn-opponent-label.blue {
  background-color: var(--turn-blue);
}

.game-turn-opponent-label.red {
  background-color: var(--turn-red);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
